/* Navbar stuff */

.dark-color
{
    background-color: black;
    color:white;
}

.light-color
{
    background-color: white;
    color:black;
}

body
{
    /* background-color:rgba(255 254 238) !important; */
}

h1
{
    text-align: center;
}

.navbar-brand
{
    font-size: x-large;
}



/* index.html */

/*  Background image with "George Whitfield, Jr."  */
.title 
{
    background-image: url('../images/background.jpg');
    width: auto;
	min-width: 100%;
	height: auto;
	right: 0;
	top: 0;
    z-index: -1;
}

.title h1
{
    position: relative;
    color: white;
    font-size: 10vmin;
    overflow: hidden;
    font-family: monospace;
    width: 100%;
    text-align: center;
    padding-right: 10vmin;
    padding-left: 10vmin;
    padding-top: 10vmin;
}



.title p
{
    color: white;
    font-size: 5vmin;
    overflow: hidden;
    font-family: monospace;
    width: 70%;
    text-align: center;
    padding-right: 10vmin;
    padding-left: 10vmin;
    padding-top: 2vmin;
    padding-bottom: 10vmin;
    position: relative;
    left: 15%;
}


.wrapper
{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    /* background-color:rgba(255 254 238) !important; */
}

.section
{
    height: 500px;
}


#headshot
{
    border-radius: 50%;
    width: 40vmin;
}

#portfolio-bar
{
    background-color: rgba(0 0 0 50) !important;
    color: white;
}







.vertical-center
{
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

hr
{
    clear:both;
    display:block;
    width: 90%;
    margin: 5vmin;
    height: 1vmin;
    border-top: 1vmin dotted lightgray;
}

















.footer
{
    height: 200px;
    width: 100%;
    text-align: center;
}

.footer-content
{
    margin-top: 35px;
}